@model IEnumerable<SistemZaRezervacijuKarata.Models.Film>

@{
    ViewData["Title"] = "Filmovi";
}

@if (this.User.IsInRole("Admin"))
{
    <hr />
    <a asp-area="" asp-controller="Filmovi" asp-action="Create" class="btn btn-primary btn-lg">Dodaj novi film</a>
    <hr />

}

@foreach (var item in Model)
{
    <div style="display: inline-block; text-align: center;">
        <div style="padding: 10px;">
            <a asp-action="Details" asp-route-id="@item.ID" style="text-align: center; color: #eeeeee;">
                <img src="@item.SlikaUrl" width="202px" height="293px"/>
                <h4>@item.Naslov</h4>
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Izmeni</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Obriši</a>
                }
            </a>
        </div>
    </div>
}