@model SistemZaRezervacijuKarata.Models.Sala

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrojSedista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrojSedista)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tehnologija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tehnologija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
