@model SistemZaRezervacijuKarata.Models.Sala

@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>

<div>
    <hr />
    
    <h3>@Html.DisplayNameFor(model => model.Naziv) : @Html.DisplayFor(model => model.Naziv)</h3> 

    <h3>@Html.DisplayNameFor(model => model.BrojSedista) : @Html.DisplayFor(model => model.BrojSedista)</h3> 

    <h3>@Html.DisplayNameFor(model => model.Tehnologija) : @Html.DisplayFor(model => model.Tehnologija)</h3> 
    <br />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Izmeni</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Obriši</a>
</div>
<br />
<a asp-action="Index" class="btn btn-default">Povratak na listu</a>

