@using SistemZaRezervacijuKarata.Models
@model SistemZaRezervacijuKarata.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="container add-film-container">
        <form asp-action="Create" asp-route-ProjekcijaId="@Model.ProjekcijaId" asp-route-ApplicationUserId="@this.User.Identity.Name">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Rezervacija karata</h1>
            <h2>Film: <a asp-controller="Filmovi" asp-action="Details" asp-route-id="@Model.Projekcija.FilmId">@Model.Projekcija.Film.Naslov</a></h2>
            <h3>Datum projekcije: @Model.Projekcija.Datum.ToString("dd.MM.yyyy.")</h3>
            <h3>Vreme: @Model.Projekcija.Vreme.ToString("HH:mm") h</h3>
            <h3>Sala: <a asp-controller="Sale" asp-action="Details" asp-route-id="@Model.Projekcija.SalaId">@Model.Projekcija.Sala.Naziv - @Model.Projekcija.Sala.Tehnologija</a></h3>
            Email: @this.User.Identity.Name
            <hr>
            <div class="form-group">
                <label asp-for="BrojKarata" class="control-label"></label>
                <input asp-for="BrojKarata" class="form-control" value="0" min="0" max="5"/>
                <span asp-validation-for="BrojKarata" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <input type="submit" value="Rezerviši" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Filmovi" asp-action="Index" class="btn btn-default btn-sm">Odustani</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
