@model SistemZaRezervacijuKarata.Models.Rezervacija

@{
    ViewData["Title"] = "Brisanje rezervacije";
}

<h2>Brisanje rezervacije</h2>

<h3>Da li ste sigurni da želite da obrištet ovu rezervaciju?</h3>
<div>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.BrojKarata) : @Html.DisplayFor(model => model.BrojKarata)</h3>
    
    <h3>@Html.DisplayNameFor(model => model.Korisnik) : @Html.DisplayFor(model => model.Korisnik.Email)</h3>

    <h3>@Html.DisplayNameFor(model => model.Projekcija.Film) : @Html.DisplayFor(model => model.Projekcija.Film.Naslov)</h3>
           
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Projekcije" class="btn btn-default btn-sm">Povratak na listu</a>
    </form>
</div>
