@model SistemZaRezervacijuKarata.Models.Projekcija

@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>

<div>
    <hr />

    <h3>@Html.DisplayNameFor(model => model.Film) : <a asp-action="../Filmovi/Details" asp-route-id="@Html.ValueFor(model => model.FilmId)">@Html.DisplayFor(model => model.Film.Naslov)</a></h3>

    <h3>@Html.DisplayNameFor(model => model.Sala) : <a asp-action="../Sale/Details" asp-route-id="@Html.ValueFor(model => model.SalaId)">@Html.DisplayFor(model => model.Sala.Naziv)</a></h3>
    
    <h3>@Html.DisplayNameFor(model => model.Datum) : @Html.DisplayFor(model => model.Datum)</h3>

    <h3>@Html.DisplayNameFor(model => model.Vreme) : @Html.DisplayFor(model => model.Vreme)</h3>      

    <h3>@Html.DisplayNameFor(model => model.SlobodnoSedista) : @Html.DisplayFor(model => model.SlobodnoSedista)</h3>
    <br />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Izmeni</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Obriši</a>
</div>
<br />
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr class="active" style="color: black;">
            <th>Email</th>
            <th>Broj karata</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Rezervacije)
        {
            <tr class="info" style="color: black;">
                <td>@item.Korisnik.Email</td>
                <td>@item.BrojKarata</td>
                <td>
                    <a asp-controller="Rezervacije" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" style="margin: 10px;">Obriši rezervaciju</a>
                </td>
            </tr>

        }


    </thead>
</table>
<a asp-action="Index" class="btn btn-default">Povratak na listu</a>