@model SistemZaRezervacijuKarata.Models.Projekcija

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projekcija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vreme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SlobodnoSedista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlobodnoSedista)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Naslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sala.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
